

<section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(images/video-back.jpg);">
                <a href="https://www.youtube.com/watch?v=vF421Zv4eSk" class="icon popup-vimeo d-flex justify-content-center align-items-center">
                    <span class="icon-play"></span>
                </a>
            </div>
            <div class="col-md-7 py-5 wrap-about pb-md-5 ftco-animate">
                <div class="heading-section-bold mb-4 mt-md-5">
                    <div class="ml-md-0">
                        <h2 class="mb-4">Співпраця</h2>
                    </div>
                </div>
                <div class="pb-md-5">
                    <p>Для фермерів
                        Якщо Ви український ФЕРМЕР і дотримуєтеся наступних принципів:
                        <ul>
                            <li>• Ви проживаєте і робите продукт в Україні;</li>
                            <li>• У Вас невелике або середнє господарство;</li>
                            <li>• Ви пишаєтеся Вашим продуктом і його якістю;</li>
                            <li>• Ви виготовляєте чесний, а значить екологічно чистий і натуральний продукт;</li>
<li>• Ви - патріот своєї країни і хочете, щоб наша країна розвивалася.</li>
                        </ul>
               
                    </p>
                    <p>Ми будемо раді співпраці з Вами і готові запропонувати будь-яку посильну допомогу Вашому господарству!
                        Зазвичай перед початком співпраці ми відвідуємо кожне підприємство і оцінюємо його за кількома важливими для нас критеріям. Якщо Ваше господарство не буде відповідати якимось із них це не означає, що ми не будемо працювати з Вами. Ми видамо кілька рекомендацій по потрібним виправленням і проведемо повторний аудит, і після їх впровадження, будемо раді бачити Ваш продукт в нашому асортименті!</p>
                    <p>Крім того однією з умов роботи з нами є отримання максимально повної інформації про Вас і Ваше господарство. Таким чином ми зможемо більш детально інформувати наших клієнтів про Вас і Ваш чудовий продукт!
                        Надішліть вашу пропозицію про співпрацю на наш емайл farm.cooporetion@gmail.com і ми обов'язково зв'яжемося з вами!</p>
                  
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
    <div class="container py-4">
        <div class="row d-flex justify-content-center py-5">
            <div class="col-md-6">
                <h2 style="font-size: 22px;" class="mb-0">Відправити заявку</h2>
                <span>Розкажіть про свій бізнес та ми запропонуємо співпрацю</span>
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <form action="#" class="subscribe-form">
                    <div class="form-group d-flex">
                        <input type="text" class="form-control" placeholder="Email">
                        <input type="submit" value="Відправити" class="submit px-3">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>