@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a href="/Articles" class="btn btn-primary">Переглянути товари</a>
    <a href="/ArticleImages" class="btn btn-primary">Фото товарів</a>
    <a href="/ArticleCategories" class="btn btn-primary">Категорії товарів</a>
    <a href="/Orders" class="btn btn-primary">Замовлення</a>
<a href="/Farmers" class="btn btn-primary">Фермери</a>
</div>
