<section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(images/video-back.jpg);">
                <a href="https://www.youtube.com/watch?v=vF421Zv4eSk" class="icon popup-vimeo d-flex justify-content-center align-items-center">
                    <span class="icon-play"></span>
                </a>
            </div>
            <div class="col-md-7 py-5 wrap-about pb-md-5 ftco-animate">
                <div class="heading-section-bold mb-4 mt-md-5">
                    <div class="ml-md-0">
                        <h2 class="mb-4">Про нас</h2>
                    </div>
                </div>
                <div class="pb-md-5">
                    <p>
                        Farm Cooperation - це онлайн-платформа, яка зближує фермерів і споживачів. Фермери можуть представляти свою продукцію на цифровому ринку, де вони створюють власні профілі та пропонують свої товари. Для споживачів надається зручний пошук і фільтрація для знаходження необхідних продуктів. Платформа гарантує безпеку та довіру в угодах, а також сприяє розвитку місцевого господарства. Farm Cooperation - це спільнота, яка об'єднує фермерів та споживачів для підтримки якості, місцевого господарства та сталого розвитку сільських громад.

                    </p>
                    <p>
                        Ця ініціатива покликана не лише полегшити процес продажу сільськогосподарської продукції, а й підтримувати важливий зв'язок між фермерами та споживачами. Farm Cooperation створює можливість для фермерів висвітлити унікальні аспекти своєї роботи, ділитися історіями успіху та методами вирощування, що сприяє підвищенню свідомості про якість та походження продукції.
                    </p>
                    <p>
                        Окрім того, платформа слугує інструментом для підтримки місцевих економік і зменшення екологічного впливу. Шляхом сприяння місцевому господарству, Farm Cooperation сприяє створенню стійкого середовища для сільських громад, допомагаючи їм розвиватися та процвітати.
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>
